In [ ]:
import pandas as pd


# Ler o arquivo CSV e transformá-lo em um DataFrame
df1 = pd.read_csv('/content/clientes.csv')

# Convertendo colunas de string para datetime
df1['dt_nascimento'] = pd.to_datetime(df1['dt_nascimento'], format='%Y-%m-%d')
df1['dt_cadastro'] = pd.to_datetime(df1['dt_cadastro'], format='%Y-%m-%d')
df1

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 25 non-null     int64
 1   dt_nascimento      25 non-null     datetime64[ns]
 2   dt_cadastro        25 non-null     datetime64[ns]
 3   de_sexo            25 non-null     object
 4   nm_nome_oficial    25 non-null     object
 5   cd_uf_estado       25 non-null     object
 6   id_ibge_municipio  25 non-null     int64
 7   cd_cep             25 non-null     int64
 8   cd_pais            25 non-null     object
 9   de_logradouro      25 non-null     object
 10  nm_bairro          23 non-null     object
dtypes: datetime64[ns](2), int64(3), object(6)
memory usage: 2.3+ KB

In [ ]:
import pandas as pd


# Ler o arquivo CSV e transformá-lo em um DataFrame
df2 = pd.read_csv('/content/vendas.csv')

# Convertendo a coluna de string para datetime
df2['dt_venda'] = pd.to_datetime(df2['dt_venda'], format='%Y-%m-%d')

df2

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              39 non-null     int64
 1   dt_venda        39 non-null     datetime64[ns]
 2   no_medicamento  39 non-null     object
 3   vl_preco        39 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.3+ KB

In [10]:
import pandas as pd

# Supondo que df1 e df2 são seus DataFrames

# Realizando o merge
merged_df = pd.merge(df1, df2, on='id', how='outer', suffixes=('_df1', '_df2'))

# Verificando e removendo possíveis duplicatas
merged_df = merged_df.drop_duplicates()

In [ ]:
merged_df

In [ ]:
import pandas as pd

# Supondo que df seja o seu DataFrame

# Filtrando o DataFrame onde id é igual a um valor específico
id_filtrado = 6455
df_filtrado = merged_df.loc[merged_df['id'] == id_filtrado]
df_filtrado

In [ ]:
merged_df.info()

In [ ]:
# Agrupando por data de venda e somando os preços
sumario_vendas = merged_df.groupby('dt_venda')['vl_preco'].sum().reset_index()

# Ordenando o resultado por data de venda
sumario_vendas = sumario_vendas.sort_values(by='dt_venda')

# Exibindo o resultado
print(sumario_vendas)

In [ ]:
sumario_vendas

In [21]:
df = merged_df

In [ ]:
import pandas as pd

# Supondo que df seja o seu DataFrame com as vendas

# Extraindo ano e mês da coluna dt_venda
df['ano'] = df['dt_venda'].dt.year
df['mes'] = df['dt_venda'].dt.month

# Agrupando por ano e mês e somando os preços
sumario_vendas_mes = df.groupby(['ano', 'mes'])['vl_preco'].sum().reset_index()

# Ordenando o resultado por ano e mês
sumario_vendas_mes = sumario_vendas_mes.sort_values(by=['ano', 'mes'])

# Exibindo o resultado
print(sumario_vendas_mes)

In [ ]:
import pandas as pd

# Supondo que df seja o seu DataFrame com as vendas

# Agrupando por produto e somando os preços e quantidades (se disponível)
sumario_produtos = df.groupby('no_medicamento')['vl_preco'].sum().reset_index()

# Ordenando o resultado por preço de forma descendente
produtos_mais_vendidos = sumario_produtos.sort_values(by='vl_preco', ascending=False)

# Exibindo o resultado
print(produtos_mais_vendidos)

In [24]:
import pandas as pd
# Exportando o DataFrame para um arquivo CSV

merged_df.to_csv('df.csv', index=False, encoding='utf-8')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 46
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 29 non-null     int64
 1   dt_nascimento      29 non-null     datetime64[ns]
 2   dt_cadastro        29 non-null     datetime64[ns]
 3   de_sexo            29 non-null     object
 4   nm_nome_oficial    29 non-null     object
 5   cd_uf_estado       29 non-null     object
 6   id_ibge_municipio  29 non-null     int64
 7   cd_cep             29 non-null     int64
 8   cd_pais            29 non-null     object
 9   de_logradouro      29 non-null     object
 10  nm_bairro          25 non-null     object
 11  dt_venda           21 non-null     datetime64[ns]
 12  no_medicamento     21 non-null     object
 13  vl_preco           21 non-null     float64
 14  ano                21 non-null     float64
 15  mes                21 non-null     float64
dtypes: datetime64[ns](3), float64(3), int64(3), object(7)
memory usage: 3.9+ KB